footer.footer
  .footer__row
    .footer__col-left
      .footer__copy ООО «Инфотех»
      .footer__phone 
        .footer__phone__city Санкт-Петербург
        .footer__phone__number +7 (812) 327 95 06

    .footer__col-right
      .footer__menu
        .footer__menu-title Компания
        nav.footer__menu-nav
          each item in ['История', 'Структура', 'События и новости', 'Дилеры', 'Благодарности', 'Проекты', 'Контакты']
            a(href="#").menu__link #{item}

      .footer__menu
        .footer__menu-title Решения
        nav.footer__menu-nav
          each item in ['Для музеев', 'Для спорта', 'Для театров и концертных залов', 'Для культурно-досуговых объектов', 'Для региональных систем', 'Для организаторов мероприятий', 'Для торговли']
            a(href="#").menu__link #{item}
		
      .footer__menu
        .footer__menu-title Продукты
        nav.footer__menu-nav
          each item in ['Билетная система TICKETNET', 'Система контроля доступа', 'Терминальная система', 'CRM', 'Консалтинг и проектирование', 'ЦТО']
            a(href="#").menu__link #{item}

  .footer__row
    .footer__col-left
      .footer__stek
        |Разработка и поддержка сайта: 
        br
        |СТЕК. Комплексный ит-аутсорсинг

    .footer__col-right
      a(href="#").footer__privacy
        |Политика
        br
        |конфеденциальности