header.header 
  .header__logo 
    img(src='/assets/img/logo.png')

  .header__phone 
    .header__phone__city Санкт-Петербург
    .header__phone__number +7 (812) 327 95 06

  .header__info
    .header__panel
      .header__panel-lang RU
      .header__panel-login Войти
      .header__panel-search Search
    nav.header__nav 
      each item in ['Компания', 'Решения', 'Продукты', 'Объекты', 'Контакты']
          a(href="#").header__nav__link #{item}

  a(href="#").header__link Отправить заявку   
