section.slider__main
	.slider__main__left
		.slider__main-title продукты  / 
		.slider-m-l
			.slider__main__left-list
				img(src="/assets/img/slider-main-left.jpg", alt="")
				.slider__main__left-title TicketNet®
				.slider__main__left-text 
					|ООО «ИнфоТех» - ведущий российский разработчик инновационных решений
					br
					|в сфере автоматизации обслуживания посетителей, производитель и систем
			.slider__main__left-list
				img(src="/assets/img/slider-main-left.jpg", alt="")
				.slider__main__left-title TicketNet®
				.slider__main__left-text 
					|ООО «ИнфоТех» - ведущий российский разработчик инновационных решений
					br
					|в сфере автоматизации обслуживания посетителей, производитель и систем
					br
					|контроля доступа и билетно-пропускных систем серии TicketNet
			.slider__main__left-list
				img(src="/assets/img/slider-main-left.jpg", alt="")
				.slider__main__left-title TicketNet®
				.slider__main__left-text 
					|ООО «ИнфоТех» - ведущий российский разработчик инновационных решений

	.slider__main__right
		.slider__main-title цифры и факты  / 
		.slider-m-r
			.slider__main__right-list slider1
				img(src="/assets/img/slider-main-right.jpg", alt="")
			div slider2
			div slider2