section.solution
  .solution__list.solution__list-first
    h2.solution__list__title-first Решения
    span Комплекс уникальных решений для любого объекта на платформе TicketNet

  .solution__list 
    .solution__list__icon
    .solution__list__title 
      |музейные
      br
      |комплексы
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list 
    .solution__list__icon
    .solution__list__title 
      |спортивные
      br
      |объекты
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list 
    .solution__list__icon
    .solution__list__title 
      |театры
      br
      |и концертные залы
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list 
    .solution__list__icon
    .solution__list__title
      |культурно-
      br
      |досуговые объекты
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list 
    .solution__list__icon
    .solution__list__title
      |региональные
      br
      |системы
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list 
    .solution__list__icon
    .solution__list__title
      |организаторы
      br
      |мероприятий
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list 
    .solution__list__icon
    .solution__list__title
      |объекты
      br
      |торговли
    p.solution__list__text Оптимальный уровень автоматизации крупных и малых музейных комплексов

  .solution__list.solution__list-last
    .solution__list__title-last индивидуальные решения
    p.solution__list__text-last Мы готовы к нестандартным задачам
    a(href="#").solution__list_button отправить заявку
