

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
  url('../fonts/OpenSansRegular.woff2') format('woff2'),
  url('../fonts/OpenSansRegular.woff') format('woff'),
  url('../fonts/OpenSansRegular.ttf') format('truetype'),
  url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
  url('../fonts/OpenSansBold.woff2') format('woff2'),
  url('../fonts/OpenSansBold.woff') format('woff'),
  url('../fonts/OpenSansBold.ttf') format('truetype'),
  url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}



@font-face {
  font-family: 'rouble';
  src: url('../fonts/rouble.eot');
  src: url('../fonts/rouble.eot') format('embedded-opentype'),
  url('../fonts/rouble.woff2') format('woff2'),
  url('../fonts/rouble.woff') format('woff'),
  url('../fonts/rouble.ttf') format('truetype'),
  url('../fonts/rouble.svg#rouble') format('svg');
}


@font-face {
  font-family: 'roublewebfont';
  src: url('../fonts/roublewebfont.eot');
  src: url('../fonts/roublewebfont.eot') format('embedded-opentype'),
  url('../fonts/roublewebfont.woff2') format('woff2'),
  url('../fonts/roublewebfont.woff') format('woff'),
  url('../fonts/roublewebfont.ttf') format('truetype'),
  url('../fonts/roublewebfont.svg#roublewebfont') format('svg');
}

@font-face {
  font-family: 'RUBSN';
  src: url('../fonts/RUBSN.eot');
  src: url('../fonts/RUBSN.eot') format('embedded-opentype'),
  url('../fonts/RUBSN.woff2') format('woff2'),
  url('../fonts/RUBSN.woff') format('woff'),
  url('../fonts/RUBSN.ttf') format('truetype'),
  url('../fonts/RUBSN.svg#RUBSN') format('svg');
}
