extends ../_template


block variables
  - var title = 'Главная страница'

block content
  main.content-holder
    .hold-content
      aside.aside
        .n-accordion
          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Обратный осмос и НАНОТЕК
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон


          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Стационарные фильтры
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон



          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Фильтры–кувшины
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон



          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Магистральные фильтры
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон



          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Фильтры для самогона
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон
          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Комплектующие
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон
          .n-accordion__item
            .n-accordion__title-block
              .n-accordion__title Услуги
              .n-accordion__title-icon
            .n-accordion__info
              ul.n-accordion__info-list
                li.n-accordion__info-item Фильтры под мойку
                li.n-accordion__info-item Насадки на кран
                li.n-accordion__info-item
                  .n-accordion-inner
                    .n-accordion-inner__item
                      .n-accordion-inner__title-block
                        .n-accordion-inner__title Сменные элементы
                        .n-accordion-inner__title-icon
                      .n-accordion-inner__info
                        ul.n-accordion-inner__info-list
                          li.n-accordion-inner__info-item Арагон
                          li.n-accordion-inner__info-item Комплекты сменных картриджей
                          li.n-accordion-inner__info-item Удаление бактерий
                          li.n-accordion-inner__info-item Универсальные
                          li.n-accordion-inner__info-item Комплектующие к картриджам Арагон

        form.aside-select
          .aside-select__title выбор по параметрам
          .aside-select__block.aside-select__cost-block
            .aside-select__block-title Стоимость:
            .range
              .range-dots
              input.range1(type="text" name="example_name" value="")

          .aside-select__block
            .aside-select__block-title Тип воды:
            select.aside-select__input
              option(selected="selected") Все типы
              option Тип воды 1
              option Тип воды 1
              option Тип воды 1
              option Тип воды 1
              option Тип воды 1
              option Тип воды 1
              option Тип воды 1
          .aside-select__block
            .aside-select__block-title Тип фильтра:
            select.aside-select__input Все типы
              option(selected="selected") Питьевые системы
              option Тип фильтра 1
              option Тип фильтра 1
              option Тип фильтра 1
              option Тип фильтра 1
              option Тип фильтра 1
              option Тип фильтра 1




      .content
        ul.breadcrumb
          li
            a(href="javascript:void(0);") Главная
          li
            a(href="javascript:void(0);") Каталог
          li Для дома
        h1 Фильтры и картриджи для квартиры
        form.n-filter
          .n-sort
            .n-sort__title Сортировка:
            .n-sort__item.n-sort__name.active По названию
            .n-sort__item.n-sort__price По цене
            .n-sort__item.n-sort__pop Популярности
          .n-pagin__list
            a(href="javascript:void(0);").n-pagin__item.active 1
            a(href="javascript:void(0);").n-pagin__item 2
            a(href="javascript:void(0);").n-pagin__item ...
            a(href="javascript:void(0);").n-pagin__item 35
            a(href="javascript:void(0);").n-pagin__item 36
            a(href="javascript:void(0);").n-pagin__item 37
            a(href="javascript:void(0);").n-pagin__item 38
        .n-cat__card-wrap
          +catalog-card
          +catalog-card-1
          +catalog-card
          +catalog-card-1
          +catalog-card
          +catalog-card
        form.n-filter
          .n-pagin__list
            a(href="javascript:void(0);").n-pagin__item 1
            a(href="javascript:void(0);").n-pagin__item 2
            a(href="javascript:void(0);").n-pagin__item ...
            a(href="javascript:void(0);").n-pagin__item 35
            a(href="javascript:void(0);").n-pagin__item 36
            a(href="javascript:void(0);").n-pagin__item 37
            a(href="javascript:void(0);").n-pagin__item 38









